.back{
    color: rgb(255, 255, 255); font-size: 18px; line-height: 30px; padding: 5px; border-radius: 16px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; 
}

.text{
    color: white;
   text-shadow: 1px 1px black;
}

.titulo{
    background-color: black;
    font-style: oblique;
    color: silver;
    border-style: groove;
    border-width: medium;
    border-color: gray;
    border-radius: 15px;
    height: 30px;
    width: fit-content;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom: 4px;
    position: relative;
}

.img{
    position: relative;
    width: 1000px;
    height: 600px;
}

.algo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif{
position: relative;
top: 300px;
}